.whosOnlineWrpper{
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}

.whosOnlineTitle{
    font-size: 18px;
    font-weight: 600;
    color: rgb(70, 66, 66);
}

.whosOnlinePerson{
   height: 35px;
   width: 35px;
   object-fit: contain;
   border-radius: 50%;
   margin-right: 10px;
}

.whosOnlineContainer{
    display: block;
    list-style: none;
}

.whosOnlineList{
    display: flex;
    align-items: center;
}

.whosOnlineContent{
    margin-top: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.whosOnlineName{
    color: rgb(70, 66, 66);
}

.whosOnlinestatus{
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: limegreen;
   position: absolute;
   top: -1px;
   right: 5px;
   border: 2px solid white;
}