
.createPost{
    margin: 10px 10px 0px 10px;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 6px;
}

.createPostTop{
    display: flex;
    align-items: center;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.createPostImg{
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
}

.createPostInput{
    width: 80%;
    padding: 5px 0px;
    margin-left: 10px;
    border: none;
}

.createPostInput:focus{
    outline: none;
}

hr{
    width: 90%; 
    margin: 0 auto;
}

.createPostBottom{
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    margin-left: 5px;
}

.createPostLeft{
    display: flex;
}

.createPostBox{
    display: flex;
    align-items: center;
    padding: 0px 35px;
}

.createPostIcon{
    height: 25px !important; 
    width: 25px !important;
}

.createPostRight{
    display: flex;
    align-items: center;
    margin-left: 40px;
    background-color: green;
    border-radius: 5px;
    padding: 0px 2px;
}

.shareTitle{
    color: white;
}

.photoIcon{
    color: brown !important;
}

.videoIcon{
    color: green !important;
}

.locationIcon{
    color: #ef233c;
}

.shareIcon{
    height: 23px !important; 
    width: 23px !important;
    color: white !important;
}

